<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <form [formGroup]="playerForm" (ngSubmit)="onSubmit()" class="card p-4">
        <h2 class="text-center mb-4 custom-label">Enter Player Details</h2>
        <div class="form-group mb-3">
          <label for="playerName" class="form-label custom-label">Player Name:</label>
          <input type="text" id="playerName" formControlName="playerName" class="form-control">
          <div *ngIf="playerForm.get('playerName')?.invalid && playerForm.get('playerName')?.touched"
            class="error mt-2">
            Please enter a valid player name
          </div>
        </div>
        <div class="form-group mb-3">
          <label for="pokemon" class="form-label custom-label">Choose a Pokemon:</label>
          <select id="pokemon" formControlName="pokemonName" class="form-control" (change)="onSelectPokemon($event)">
            <option value="">Select a Pokemon</option>
            <option *ngFor="let pokemon of pokemonList" [value]="pokemon.name">
              Name: {{ pokemon.name }}
              <br>
              Height: {{pokemon.height}}
              <br>
              Weigh: {{pokemon.weight}}
            </option>
          </select>
          <div *ngIf="playerForm.get('pokemonName')?.invalid && playerForm.get('pokemonName')?.touched"
            class="error mt-2">
            Please select a Pokemon
          </div>
        </div>
        <div class="form-group d-flex justify-content-between mt-4">
          <button type="submit" [disabled]="playerForm.invalid" class="btn btn-warning">Ready!</button>
          <button type="submit" (click)="start()" [disabled]="playerList.length!==2 && pokemonList.length!==2" class="btn btn-danger">Start The
            GAME</button>
        </div>
      </form>
    </div>
    <div class="col-6">
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="card" style="width: 21.3rem;"*ngIf="selectedPokemon">
            <img [src]="selectedPokemon.urlFront" class="card-img-top mx-auto d-block">
          </div>
        </div>
        <div class="col-6" *ngIf="selectedPokemon">
          <div class="card" style="width: 21.3rem;">
            <img [src]="selectedPokemon.urlBack" class="card-img-top mx-auto d-block">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>