<div>
  <h2>Enter Player {{playerNumber}} Details</h2>
  <form [formGroup]="playerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="playerName">Player Name:</label>
      <input type="text" id="playerName" formControlName="playerName">
      <div *ngIf="playerForm.get('playerName')?.invalid && playerForm.get('playerName')?.touched" class="error">
        Please enter a valid player name
      </div>
    </div>
    <div>

      <label for="pokemon">Choose a Pokemon:</label>
      <select id="pokemon" formControlName="pokemonName">
        <option value="">Select a Pokemon</option>
        <option *ngFor="let pokemon of pokemonList" [value]="pokemon.name">
      
          Name:{{ pokemon.name }}
          <br>
          Height:{{pokemon.height}}
          <br>
          Weigh: {{pokemon.weight}}
        </option>
      </select>

      <div *ngIf="playerForm.get('pokemonName')?.invalid && playerForm.get('pokemonName')?.touched" class="error">
        Please select a Pokemon
      </div>
    </div>
  


    <button type="submit" [disabled]="playerForm.invalid ? true : null" [ngClass]="{ 'disabled': playerForm.invalid,'darkgrey': playerForm.valid }">Ready!</button>
    {{playerList.length}}
    {{playerList.length!==2? true : null}}
    <button type="submit" (click)="start()" [disabled]="playerList.length!==2? true : null" [ngClass]="{ 'disabled': playerList.length!==2,'darkgrey': playerForm.valid }">Start!</button>
  </form>

</div>
<div>
  <img [src]="'{{getSafeImageUrl()}}'">
</div>
