form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 10px;
}

form label {
  font-size: 1.2rem;
  font-weight: bold;
  color: #c61e24;
  margin-bottom: 10px;
}

form input {
  border: 1px solid #c61e24;
  border-radius: 5px;
  padding: 8px 10px;
  margin-bottom: 20px;
  width: 100%;
}

form select {
  border: 1px solid #c61e24;
  border-radius: 5px;
  padding: 8px 10px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #fff;
  color: #666;
}



h2 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  text-shadow: 1px 1px 1px #000;
  color: #ffcb05;
}

button.disabled {
  background-color: #ccc;
  color: #eeeeee;
  background-color: #bdbbbb;
  color: #666;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
}

button.darkgrey {
  background-color: #a48506;
  color: #666;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-top: 20px;
  cursor: pointer;
} 

button.darkgrey:hover {
  background-color: #ffcb05;
  color: #666;
}